*.pyc
MANIFEST
build/*
dist/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.gz
*.bib.bak
*.fls
*.m~
*.sublime*
.DS_Store
*puf.csv
*/OUTPUT/*
*/__pycache__/*
*.dta
*.dat
*.zip
*.ipynb_checkpoints*
*.cache*